/* Manual configurated style for replacing react-bootstrap CSS */
/* Written By Suryanto */

@media (max-width: 414px) {
	.myImageBannerFrame {
		height: 270px !important;
	}
	.myCardFrame {
		width: 350px !important;
	}
	.myCardImageFrame {
		height: 280px !important;
	}
	.myProductDetailFrame {
		height: 400px !important;
	}
}

@media (max-width: 991px) {
	.myRibbonMargin {
		margin: 50px 0px 50px 0px !important;
	}
	.myProductDetailContainer {
		margin: 50px 0px 100px 0px !important;
	}
	.myProductDetailFrame {
		width: 320px !important;
	}
	.myHighlightProductFrame {
		height: 400px !important;
	}
	.myCountrySelectionForm {
		width: 300px !important;
	}
	.myProductsAreaMargin {
		margin-top: 30px !important;
	}
	.myFilterButtonCol {
		display: block !important;
	}
	.myFilterBox {
		background-color: rgb(70, 70, 70) !important;
		color: #fff;
	}

	.myFilterBox Button {
		color: #fff;
	}

	.myFilterBoxInline {
		border-bottom: 1px solid #fff !important;
	}
	.myFilterResponsive {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		margin-left: -991px;
		width: 80%;
		height: 100%;
		padding: 0;
		background-color: rgb(70, 70, 70);
		overflow-x: hidden;
		transition: 0.5s;
	}
	.myFilterResponsiveOn {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		margin-left: 0;
		width: 80%;
		height: 100%;
		padding: 0;
		background-color: rgb(70, 70, 70);
		overflow-x: auto;
		transition: 0.5s;
	}
	.myOverlayOff {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.8);
		overflow-x: hidden;
		transition: 0.3s;
	}

	.myOverlayOn {
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.8);
		overflow-x: hidden;
		transition: 0.3s;
	}
}

.myNavbar {
	background-color: rgba(244, 244, 244, 1);
}

.myNavbarEmblemFrame {
	width: 300px;
	padding: 0;
}

.myNavbarEmblem {
	object-fit: cover;
	width: 60%;
}

.myBannerMargin {
	margin-top: 80px;
}

.myImageBannerFrame {
	height: 100vh;
}

.myImageBanner {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
	cursor: pointer;
}

.myImageBanner:hover {
	filter: brightness(60%);
	transition: 0.3s;
}

.myImageBannerPlain {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myBannerButton {
	padding: 10px 25px 2px 25px;
	width: 220px !important;
	bottom: 50px;
	transform: translate(-50%, -50%);
	border-radius: 12px;
}

.myCenterTitle2 {
	letter-spacing: 5px;
}

.myHighlightProductFrame {
	width: 500px;
	height: 450px;
}

.myHighlightProductImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
	cursor: pointer;
}

.myHighlightProductImageNoData {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
	cursor: default;
}

.myHighlightProductImage:hover {
	filter: brightness(60%);
	transition: 0.3s;
}

.myAboutUsRowMargin {
	margin-bottom: 150px;
}

.myFooterRow {
	border-top: 2px solid rgb(150, 150, 150);
	font-family: "Roboto Condensed", sans-serif !important;
}

.myFooterImageFrame {
	width: 300px;
}

.myFooterImage {
	width: 100%;
	object-fit: cover;
}

.myFooterContactItems {
	font-family: "Roboto", sans-serif !important;
}

.myRibbonMargin {
	margin: 50px 30px 50px 30px;
}

.myProductsAreaMargin {
	margin: 80px 30px 80px 30px;
}

.myFilterCloseCol,
.myFilterButtonCol {
	display: none;
}

.myFilterBox {
	background-color: #ebebeb;
}

.myFilterBoxInline {
	border-bottom: 1px solid black;
}

.myProductListRow {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	grid-gap: 0px 25px;
}

.myCardFrame {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	width: 400px;
	box-shadow: 5px 5px 8px #888888;
	overflow: hidden;
}

.myCardImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myCardImage:hover {
	opacity: 0.8;
	transition: 0.2s;
}

.myProductDetailContainer {
	margin: 150px 0px 150px 0px;
}

.myProductDetailFrame {
	width: 500px;
	height: 600px;
}

.myProductDetailImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myCartItemImageFrame {
	width: 100%;
}

.myCardImageFrame {
	width: 100%;
	height: 300px;
	cursor: pointer;
}

.myCartItemImage {
	width: 100%;
	object-fit: cover;
}

.myClickStyleNone:focus {
	outline: none;
	box-shadow: none;
}

.myCountrySelectionForm {
	font-size: 15px;
	width: 450px;
	height: 200px;
	overflow: scroll;
}

.myCartCounter {
	color: white;
	font-size: 12px;
	background-color: rgb(209, 178, 109);
	padding: 5px 11px 5px 11px;
	border-radius: 50px;
	position: absolute;
	top: 0;
}
