/* Manual configurated style for replacing react-bootstrap CSS */
/* Written By Suryanto */

.myNavbar{
	background-color: rgba(244,244,244,1);
}

.myNavbarEmblemFrame{
	width: 300px;
	padding: 0;
}

.myNavbarEmblem{
	object-fit: cover;
	width: 80%;
}

.myImageBannerFrame {
	height: 100vh;
}

.myImageBanner {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myBannerButton {
	padding: 10px 25px 2px 25px;
	width: 220px !important;
	bottom: 50px;
	transform: translate(-50%, -50%);
	border-radius: 12px;
}

.myCenterTitle2 {
	letter-spacing: 5px;
}

.myHighlightProductFrame {
	width: 98%;
	background-color: red;
}

.myHighlightProductImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
