@media (max-width: 414px) {
	.skeleton-card {
		height: 520px !important;
	}
}

/* Base */

.skeleton {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Mock */

.title {
	height: 50px;
}

.text {
	height: 20px;
}

.thumb {
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Inherit */

.skeleton-banner {
	height: 100vh;
}

.skeleton-emblem {
	height: 60px;
}

.skeleton-card {
	height: 600px;
}

.skeleton-card-bg {
	background-color: rgb(224, 224, 224);
}
