@media (max-width: 414px) {
	/* .title {
		width: 70% !important;
	} */
}

/* Base */

.skeleton {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Wrapper */

.skeleton-container {
}

/* Inherit */

.title {
	height: 50px;
}

.text {
	height: 20px;
}

.thumb {
	padding: 0;
	width: 100%;
	height: 100%;
}

.skeleton-banner {
	height: 100vh;
}
