$brown-color : #A98D4A !important;
$brown2-color : #926933 !important;
$white-gray : rgb(250,253,251) !important;
$white : #FFF !important;

$brown-shadow : rgba(169,141,74, 0.50) !important;
$gray-shadow : rgba(51,51,51, 0.50) !important;
// Font
$gray-color : rgba(51, 51, 51, 0.5) !important;
$black-color : rgba(51, 51, 51, 0.8) !important;

//Large
@media (min-width: 992px){	
    .navbar-animation{
        margin-left: 0px !important;
        opacity: 1 !important;
    }

	.dashImage {
		zoom: 40% !important;
	}

    .navbarDashboard {
        position: sticky !important;
        margin-left: 0 !important;
        z-index: 15 !important;
    }

    .bodyDashboard {
        margin-left: auto !important;
    }

    .closebtn {
        display: none !important;
    }

    .border-image {
        height: 300px !important;
    }

    .position-lg-absolute{
        position: absolute !important;
    }

    .btnUploadListProduct{
        width: auto !important;
    }
}

.btnUploadListProduct{
    width: 100%;
}

.cursorDefault {
	cursor: default;
}

.cursorPointer {
    cursor: pointer;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.z-index-1 {
    z-index: 5;
}

.z-index-2 {
    z-index: 10;
}

.z-index-3 {
    z-index: 15;
}

.z-index-4 {
    z-index: 20;
}

.bg-white {
    background-color: $white;
}

.bg-dashboard {
    background-color: #e5e5e5;
}

.barBrown {
    background-color: $brown-color ;
    height: 70px;
}

.btnBrown {
    background-color: $brown-color ;
    border-color: $brown-color ;
}

.btnBrown:hover {
    background-color: $brown2-color;
    border-color: $brown2-color;
}

.btnBrown:active {
    background-color: $brown2-color;
    border-color: $brown2-color;
}

.btnBrown:focus, .btnBrown:active+.btnBrown:focus {
    box-shadow: 0 0 0 0.25rem $brown-shadow;
}

.imageUploadOverlay {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    z-index: 5;
}

.imageUploadOverlay:hover {
    opacity: 1 !important;
}

.btnWhiteTrans {
    background-color: transparent ;
    border-color: $white ;
}

.btnWhiteTrans:hover {
    background-color: $white;
    border-color: $white;
    color: $black-color;
}

.btnWhiteTrans:active {
    background-color: $white;
    border-color: $white;
}

.btnWhiteTrans:focus, .btnBrown:active+.btnBrown:focus {
    box-shadow: 0 0 0 0.25rem $gray-shadow;
}

.dashNavEmblem {
    object-fit: cover;
    zoom: 50%;
}

.bodyDashboard {
    background-color: $white-gray;
}

.closebtn {
    font-size: 36px;
    display: block;
}

// .navbar-animation{
// 	margin-left: -210px;
// 	opacity: 0;
// 	overflow: visible;
// 	transition: all 0.5s ease;
// }

// .navbar-collapse.show {
// 	opacity: 1;
// 	margin-left: 0px;
// }

.bg-overlay {
    background-color: $black-color;
    // margin-left: -400px;
    width: 0;
    transition: all 0.3s;
}

.bg-overlay.show {
    width: 100vw;
    transition: all 0.3s;
    // margin-left: 0px;
}

.navbarDashboard {
    position: fixed;
    // box-shadow: 5px 70px 1rem 0px rgba(0,0,0, .15);
    box-shadow: 5px 0px 1rem 0px rgba(0,0,0, .15);
    margin-left: -990px;
    transition: all 0.5s ease;
    z-index: 21;
}

.navbarDashboard.show {
    margin-left: 0px;
}

.navDashLinkTitle {
    color: $gray-color;
}

.navDashLink {
    padding-left: 2rem !important;
    font-weight: bold;
    color: rgba(0,0,0, .80) !important;
}

.myHr {
    border-top: 1px solid $gray-color;
    background-color: $gray-color;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.9) !important;
    border-color: rgba(255,255,255,.9) !important;
}

.border-image {
    // border: 1px dashed black;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
}

.border-svg{
    height: 100%;
    width: 100%;
}

.border-image-dashed {
    stroke-dasharray: 9.7519, 8.237;
    fill: transparent;
    stroke: rgba(0,0,0, .3);
    stroke-width: 2;
}

.border-image-inside {
    height: 100%;
    width: auto;
    color: green;
    font-weight: bold;
    text-align: center;
    // line-height: 100px;
}

.hoverImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
}