$brown-color : #A98D4A !important;
$brown2-color : #926933 !important;
$brown-shadow : rgba(169,141,74, 0.50) !important;

// Font
$gray-color : rgba(51, 51, 51, 0.5) !important;

//Large
@media (min-width: 992px){	
    .navbar-animation{
        margin-left: 0px !important;
        opacity: 1 !important;
    }

	.dashImage {
		zoom: 40% !important;
	}

    .navbarDashboard {
        position: sticky !important;
    }

    .bodyDashboard {
        margin-left: auto !important;
    }
}

.cursorDefault {
	cursor: default;
}

.barBrown {
    background-color: $brown-color ;
    height: 70px;
}

.btnBrown {
    background-color: $brown-color ;
    border-color: $brown-color ;
}

.btnBrown:hover {
    background-color: $brown2-color;
    border-color: $brown2-color;
}

.btnBrown:active {
    background-color: $brown2-color;
    border-color: $brown2-color;
}

.btnBrown:focus, .btnBrown:active+.btnBrown:focus {
    box-shadow: 0 0 0 0.25rem $brown-shadow;
}

.dashNavEmblem {
    object-fit: cover;
    zoom: 50%;
}

.navbar-animation{
	margin-left: -210px;
	opacity: 0;
	overflow: visible;
	transition: all 0.5s ease;
}

.navbar-collapse.show {
	opacity: 1;
	margin-left: 0px;
}

.navbarDashboard {
    position: absolute;
    box-shadow: 5px 70px 1rem 0px rgba(0,0,0, .15);
}

.bodyDashboard {
    margin-left: 88px;
}

.navDashLinkTitle {
    color: $gray-color;
}

.navDashLink {
    padding-left: 2rem !important;
    font-weight: bold;
    color: rgba(0,0,0, .80) !important;
}

.myHr {
    border-top: 2px solid #e5e5e5;
}

// .bi {
//     width: 1.2em;
//     height: 1.2em;
//     display: inline-block;
//     vertical-align: -.125em;
// }